<div class="topnav" id="myTopnav">
  <a routerLink="menu/user" routerLinkActive="active">
    User Profile Settings</a>
  <a routerLink="menu/property" routerLinkActive="active">
    System Settings</a>
  <a routerLink="menu/beneficiary" routerLinkActive="active">
    Beneficiary List</a>
  <a routerLink="menu/tnc" routerLinkActive="active">
    T & C Settings</a>
  <a routerLink="menu/charity" routerLinkActive="active">
    Charity Account Settings</a>
  <a routerLink="menu/chatBotEditor" routerLinkActive="active">
    Chat Bot Editor</a>
</div>

<div class="container">
	<router-outlet></router-outlet>
</div>
